# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ycPlants.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Austin\Documents\My Games\Terraria\ModLoader\Mod Sources\ycPlants\.idea\.idea.ycPlants\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
